*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    position: relative;
    min-height:100vh;
    background: url(backgrimag.jpg);
    background-size: cover;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_text{
    font-size: 40px;
    color:#fff;
    font-family: 'Chango', cursive;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
}