/*HEADER*/
.header {
    width: 100%;
    max-width: 1200px;
    padding: px 0;
    padding-top: 13px;
    
    display: flex;
    justify-content: space-between;
   
    margin-left: auto;
    margin-right: auto;
}
.top__header{
    display: block;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}



.header__text {
    font-size: 19px;
    color: red;
    text-decoration: none;
    transition: color .2s linear;
    padding-bottom: 20px;
    margin-right: 20px;
}
.glavnaya{
    font-size: 19px;
    color: red;
    text-decoration: none;
    transition: color .2s linear;
    padding-bottom: 23px;
    margin-left: 20px;
}


.glavnaya:hover {
    border-bottom: 3px solid red;
    transition: border-bottom .2s linear;
}


.header__text:hover {
    color: yellow;
    border-bottom: 3px solid red;
    transition: border-bottom .2s linear;
}
/*-----------------*/
.body__builder{
    
}

.image{
    width: 400px;
    display: flex;
    margin-left: auto;
    margin-right:auto; 
    margin-top: 50px;
}

.ani__text{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.and__text{
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

.button__wrapper{
    display: flex;
    justify-content:  center;
}

.button{
    background-color: crimson;
    border-radius: 25px; 
    border: none;
    color:aliceblue;
    
    width: 250px;
    height: 50px;
    
    margin-top: 30px;  
}

.button__code{
    background-color: white;
    border-color: crimson;
   
    margin-top: 50px;
    
    width: 200px;
    height: 40px;
    border-radius: 20px;
}
a{   color: crimson;
    text-decoration: none;
}
.button__code:hover{
    background-color: bisque;
}